@import '../breakpoints';
@import '../fonts';
@import '../colors';
@import "font-awesome";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__video {
    margin-bottom: 30px;

    @media screen and (min-width: $breakpoint_720) {
      width: 100%;
      height: 100%;
      min-height: 360px;
      max-width: 720px;
    }

    &-title {
      margin-top: 16px;
      padding-left: 8px;
      border-left: 4px solid $black-color;

      @include font-heading-s;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 220px;
      padding-left: 8px;
      height: 220px;
    }
  }

  form {
    .resident-form {
      &-button {
        @include button;
      }
    }
  }
}
