@import '../breakpoints';
@import '../fonts';
@import '../colors';
@import "font-awesome";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: 100%;

    &-main {
      display: flex;
      flex-direction: row;
      flex: 1;
      padding: 20px 20px 0 0;
      background: linear-gradient(to right,#9afebf,#087ef6);
    }

    &-description {
      display: flex;
      flex-direction: column;
      flex: 1;

      &--wrapper {
        display: flex;
        flex: 1;
        padding: 0 20px 20px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      &-title {
        text-align: center;
        border-bottom: 1px solid;
        margin: 20px 30px;
        padding-bottom: 20px;
        @include font-heading-m;
      }

      &-message {
        padding: 0 20px;
        @include font-general-m;
      }
    }
  }

  .welcome-video {
    height: 100vh;

    &__hider {
      position: absolute;
      width: 100%;
      height: 100%;

      @media #{$viewport-l} {
        min-height: 400px;
      }
    }

    iframe {
      height: 100vh;
      width: 100%;
      min-height: 100%;
      border: none;

      @media #{$viewport-xs} {
        height: auto;
      }
    }
  }

  &__video {
    margin-bottom: 30px;

    @media screen and (min-width: $breakpoint_720) {
      width: 100%;
      height: 100%;
      min-height: 360px;
      max-width: 720px;
    }

    &-title {
      margin-top: 16px;
      padding-left: 8px;
      border-left: 4px solid $black-color;

      @include font-heading-s;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 220px;
      padding-left: 8px;
      height: 220px;
    }
  }

  form {
    .resident-form {
      &-button {
        @include button;
        margin-bottom: 0;
      }
    }
  }

  &__cases {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 150px;

    @include font-general-m;

    &-item {
      i {
        font-size: 36px;
      }

      img {
        margin-bottom: 10px;
        width: 20px;
      }

      &-text {
        text-align: center;
      }

      flex: 1;
      min-height: 110px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

