<div class='container'>
  <h1 class='admin-article-title'><%= t('admins.companies.views.new_company') %></h1>
  <div class='block-form-article'><%= render 'form', company: @company, url: admins_companies_path, method: 'post'%></div>
</div>
