<div class="dropdown-trigger btn right" href='#' data-target="filter-dropdown">Filter
    <div id='filter-dropdown' class='dropdown-content'>
     <div class="row">
         <form class="col s12">
           <div class="input-top">
             <div class="input-field col s6">
                <label class="filter-text-label">Author</label>
                <select class="browser-default filter-option">
                   <option value="1">Victor-Marie Hugo</option>
                   <option value="2">Option 2</option>
                   <option value="3">Option 3</option>
                </select> 
              </div>
              <div class="input-field col s6">
                <label class="filter-text-label">Genre</label>
                 <select class="browser-default filter-option">
                    <option value="1">Novel</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                 </select>
                 </div>
            </div>
            <div class="input-middle">
               <div class="input-field col s6">
                <label class="filter-text-label">Price</label>
                  <select class="browser-default filter-option">
                     <option value="1">Contains</option>
                     <option value="2">Option 2</option>  
                     <option value="3">Option 3</option>
                  </select>
                </div>
               <div class="input-field col s6">
                <label class="filter-text-label">Name</label>
                  <select class="browser-default filter-option">
                     <option value="1">Equals</option>
                     <option value="2">Option 2</option>
                     <option value="3">Option 3</option>
                  </select>
                </div>
               <div class="input-field col s6">
                 <input type="text" placeholder="Value:">
               </div>
               <div class="input-field col s6">
                 <input type="text" placeholder="Value:">
               </div>
            </div> 
            <div class="input-bottom">      
               <div class="input-field col s6">
                 <input type="text" class="datepicker" placeholder="Start at:">
                 <label class="filter-bottom-label">Created at:</label>
               </div>
               <div class="input-field col s6">
                 <input type="text" class="datepicker" placeholder="Start at:">
                 <label class="filter-bottom-label">Updated at:</label>
               </div>
               <div class="input-field col s6">
                 <input type="text" class="datepicker" placeholder="End at:">
               </div>
               <div class="input-field col s6">
                 <input type="text" class="datepicker" placeholder="End at:">
               </div>
            </div>   
           <button type="submit" id="filter-buttons" class="mui-btn mui-btn--raised  s6">Filter</button>
            <button type="reset" id="filter-buttons" class="mui-btn mui-btn--raised  s6">Clear Filter</button>
         </form> 
       </div>  
   </div>  
</div>