<div class='container'>
  <div class='articles-tags'>
    <ul class='articles-list'>
      <% @articles.each do |article| %>
        <li>
          <%= render 'shared/article', article: article %>
        </li>
        <hr class='article-hr'>
      <% end %>
    </ul>

    <ul class='tag-links vertical short'>
      <% @tags.each do |tag| %>
        <li class='tag-links-item'><%= link_to tag.name, tag_path(tag), class: 'tag-link' %>
      <% end %>
  </ul>
  </div>
</div>
