<div class="container">
  <ul>
    <% @articles.each do |article| %>
      <li>
        <div><small><%= date_as_month_and_year(article.created_at)%></small></div> 
        <div><h3><strong><%= link_to article.title, article_path(article) %></strong></h3></div>
        <div><%= sanitize article.text %></div>
        <div>Tags:
          <% article.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        </div>
      </li>
      <hr>
    <% end %>
  </ul>
</div>
