.wrapper-docs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-family: $font_main_company;
  font-style: normal;
  font-weight: 400;

  .docs-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100%;
    overflow: hidden;

    &:after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 60px;
      -webkit-box-shadow: inset 0px -40px 25px -10px $shadow-light;
      -moz-box-shadow: inset 0px -40px 25px -10px $shadow-light;
      box-shadow: inset 0px -25px 20px 5px $shadow-light;
    }

    .link-doc {
      display: none;

      &:nth-child(-n+9) {
        display: flex;
      }

    .docs-block {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      width: 360px;
      height: 200px;
      padding: 20px 5px;
      color: $black-color;
      margin: 0 20px 20px 20px;
      transition:all .3s ease-in-out;
      cursor: pointer;

      &:hover{
        box-shadow:0 5px 40px -10px #a8a8a8;
        transform:translateY(-.9%);
        color: $base-color;

        .docs-title-block {
          color: $base-color;
        }
      }



      .docs-image-preview {
        display: flex;
        align-items: center;

        img {
          width: 85px;
        }
      }

      .docs-title-block {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: $black-color;
      }

      @media screen and (max-width: 1490px) {
        max-width: 300px;
      }

      @media screen and (max-width: 1248px) {
        max-width: 290px;
      }

      @media screen and (max-width: 1201px) {
        margin: 0 10px 20px 10px;
      }

      @media screen and (max-width: 1163px) {
        max-width: 230px;
      }
    }
  }

    @media screen and (max-width: 1128px) {
      justify-content: space-evenly;
    }
  }
}
