.news-headline {
  font-size: 25px;
}

.wrapper-news {

  .news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    overflow: hidden;


    

    .news-block {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: stretch;
      width: 300px;
      height: 400px;

      margin: 0 10px 20px 10px;
      transition:all .3s ease-in-out;

      // &:last-of-type{
      //     margin-right:0;
      // }

      // &:first-of-type{
      //     margin-left:2%;
      // }

      &:hover{
          box-shadow:0 5px 40px -10px #a8a8a8;
          transform:translateY(-.9%);
          // border:1px solid #FFF;
      }

      .news-image-preview {
        min-width: 300px;
  
        .image-preview {
          width: 300px;
          height: 300px;
          object-fit: cover;
        }
      }

      .news-date {
        font-weight: 400;
        font-size: 12px;
      }

      .news-title-block {

        .news-title {
          font-weight: 500;
          font-size: 16px;
          color: $black-color;

          &:hover {
            color: $base-color;
          }
        }
      }
    }
  }
}


