.news-headline {
  font-size: 25px;
}

.wrapper-news {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  .news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    overflow: hidden;

    .news-block {
      display: none;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: stretch;
      width: 300px;
      height: 400px;

      margin: 0 10px 20px 10px;
      transition:all .3s ease-in-out;

      &:hover{
          box-shadow:0 5px 40px -10px #a8a8a8;
          transform:translateY(-.9%);
      }

      &:nth-child(-n+6) {
        display: flex;
      }

      .news-image-preview {
        min-width: 300px;
  
        .image-preview {
          width: 300px;
          height: 300px;
          object-fit: cover;
        }
      }

      .news-date {
        font-weight: 400;
        font-size: 12px;
        padding-left: 5px;
      }

      .news-title-block {
        padding-left: 5px;

        .news-title {
          font-weight: 500;
          font-size: 16px;
          color: $black-color;

          &:hover {
            color: $base-color;
          }
        }
      }
    }

    @media screen and (max-width: 770px) {
      justify-content: center;
    }
  }
}

.button-load-more {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: 40px 20px 20px;
  width: 300px;
  height: 50px;
  border-radius: 17px;
  background-color: #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: $base-color;
    color: $white-color;
  }
}

