.tag-links {
  display: flex;
  flex-wrap: wrap;

  &-item {
    padding: 5px 10px;
    border: 2px solid $base-color;
    border-radius: 7px;
    cursor: pointer;
    vertical-align: middle;
    margin: 10px;

    .a {
      font-size: 18px;
      letter-spacing: .05em;
      font-family: "metropolisblack",sans-serif;
      color: $black-color;
      text-align: center;
      font-weight: 700;

      &:hover {
        color: $base-color;
      }
    }
  }
}

.vertical {
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5px;
}
