.group-tag {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.tag-search {
  display: flex;
  flex-wrap: wrap;

  &-item {
    padding: 5px 10px;
    border: 2px solid $base-color;
    border-radius: 7px;
    cursor: pointer;
    margin: 7px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Gotham', 'GothamCyrillic';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    color: $black-color;

    &.active, &:hover {
      background-color: $base-color;
      color: $white-color;
    }
  }


  .button-search {
    margin: 40px 0 0;
    padding: 16px 20px;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Gotham', 'GothamCyrillic';
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      background: $base-color;
      color: $white-color;

    .tag-link {
      text-align: center;
      font-family: 'Gotham', 'GothamCyrillic';
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 1px;
      color: $black-color;

      &:hover {
        color: $base-color;
      }
    }
  }
}

.vertical {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}

.article-tags {
  display: flex;
  flex-flow: row wrap;

  .article-tag {
    margin: 2px;
    padding: 3px 20px;
    border-radius: 100px;
    white-space: nowrap;
    color: $dark-grey-text;
    font-size: 13px;
    background-color: $light-grey-text;

    &:hover {
      background: $base-color;
      color: $white-color;
    }
  }

  @media screen and (max-width: 640px) {
      justify-content: center;
      margin-bottom: 5px;
  }
}
