<div><%= link_to article.title, article_path(article), class: 'article-title' %></div>
<% presenter = ArticlePresenter.new(article) %>
<div class='ck-content'><%= sanitize presenter.truncate_article_text %></div>
<%= render 'shared/tags', article: article %>
