<div><%= link_to article.title, article_path(article), class: 'article-title' %></div>
<div><%= sanitize truncate(article.text, length: 200, separator:'.') %></div>
<%= render 'shared/tags', article: article %>
