<li>
  <div><%= link_to article.title, article_path(article), class: 'article-title' %></div>
  <div><%= sanitize truncate(article.text, length: 200, separator:'.') %></div>
  <div class='group-bottom'>
    <div class='article-date'><%= l(article.created_at, format: '%d %b %Y')  %></div>
    <% if article.tags.present? %>
      <div class='dot'>·</div>
      <div>
        <% article.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag), class: 'article-tags' %>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
<hr class='article-hr'>
