<div class="article-preview-container">
  <div class="article-title-text-block">
    <div class='article-title-block'><%= link_to article.title, article_path(article), class: 'article-title' %></div>
    <div class='ck-content article-text-preview'>
      <% presenter = ArticlePresenter.new(article) %>
      <%= sanitize presenter.article_preview_text %>
    </div>
    <%= render 'shared/tags', article: article %>
  </div>
  <div class="article-preview-image"><%= presenter.article_preview_image %></div>
</div>
