<div class='group-bottom'>
  <div class='article-date'><%= l(article.created_at, format: '%d %b %Y')  %></div>
  <% if article.tags.present? %>
    <div class='dot'>·</div>
    <div>
      <% article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: 'article-tags' %>
      <% end %>
    </div>
  <% end %>
</div>
