<div class='home-container'>
  <div class="welcome-video">
    <div class="welcome-video__hider"></div>
    <iframe src="https://www.youtube.com/embed/Wnqc0i-8b7A?controls=0&autoplay=1&mute=1" frameborder="0" allow="autoplay; encrypted-media;"></iframe>
    <%= image_tag('scroll-icon.png', class: 'welcome-video__scroll-icon') %>
  </div>
  <%= button_to t('.resident_form'), new_resident_form_path, class: 'resident-form-button', method: :get, data: { turbo_frame: 'modal' } %>
</div>
