<div class='tree'>
  <%= javascript_pack_tag 'tree' %>
</div>


<div class='home-container'>
  <%= button_to t('.resident_form'), new_resident_form_path, class: 'resident-form-button', method: :get, data: { turbo_frame: 'modal' } %>
</div>
