<ul class="pagination">
  <li class="pagination-arrows disabled"><a href="#">❮ </a></li>
  <li class="pagination-number active"><a href="#">1</a></li>
  <li class="pagination-number"><a href="#">2</a></li>
  <li class="pagination-number"><a href="#">3</a></li>
  <li class="pagination-number"><a href="#">4</a></li>
  <li class="pagination-number"><a href="#">5</a></li>
  <li class="pagination-arrows"><a href="#"> ❯</a></li>
</ul>

