<% provide(:button_text, 'Edit') %>

<div class="form-container">
  <div class="form row">
    <div class="col s12">
      <h1 class="center-align">Editing User</h1>
      <%= render 'form', user: @user, url: admins_user_path(@user),  method: :put %>
    </div>
  </div>
</div>