<% provide(:button_text, 'Sign up') %>

<div class="form-container">
  <div class="form row">
    <h3 class="center-align">Sign up new user</h3>
    <%= render 'form', user: @user, url: admins_users_path, method: :post %>
  </div>
</div>