<div class="form-container">
  <div class="show row">
    <div class="input-field col s12">
      <strong>Email: </strong> <%= @user.email %>
    </div>

    <div class="input-field col s12">
      <strong>Telephone: </strong> <%= @user.phone_number %>
    </div>

    <div class="input-field col s12">
      <strong>Role: </strong> <%= @user.role %>
    </div>

    <div class="waves-effect waves-light btn light-blue darken-2 show_button">
      <%= link_to 'Edit', edit_user_registration_path, class: "btn-area" %>
    </div>
  </div>
</div>