.tb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

#article-text-input,
.article-search-btn {
  color: black;
  border: none;
  background-color: transparent;
}

#cover {
  width: 100%;
  height: 100px;
  padding: 25px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 40px #bbb8e7, 0 0 0 20px #fff;
  transform: scale(0.6);
  margin-bottom: 20px;
}

#article-search-form {
  height: 60px;
}

#article-text-input {
  width: 90%;
  height: 51px;
  font-size: 35px;
  line-height: 1;
}

#article-text-input::placeholder {
  color: black;
  border-bottom: none;
}

#s-cover {
  width: 80px;
  padding-left: 10px;
  margin-bottom: 9px;
}

.article-search-btn {
  position: relative;
  display: block;
  width: 60px;
  height: 50px;
  
}

#s-circle {
  top: 5px;
  left: 0;
  width: 42px;
  height: 42px;
  margin-top: 0;
  border-width: 15px;
  border: 8px solid black;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.td span {
  position: absolute;
  right: 0;
  display: block;
  width: 27px;
  height: 16px;
  background-color: transparent;
  border-radius: 8px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.td span:before,
.td span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 39px;
  height: 9px;
  background-color: black;
  border-radius: 8px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 45px;
  height: 9px;
  border-width: 0;
  background-color: black;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 42px;
  width: 13px;
  margin-top: -11px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(50deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-50deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: black;
}
