$accordionColour: $admin-background-color-button;
$iconSize: 32px;
$breakpoint: 800px;

.accordion {
  position: relative; top: -3px; left: -3px;
  width: 100%;
  margin: 0 0 0.5em 0;
  padding: 0.6em 0.6em 0.6em (2em);
  border-radius: 10px;
  text-align: left;
  border: solid 3px $accordionColour;
  background-color: $white-color;
  font-weight: bold;
  color: $black-color;
  text-decoration: none;
  transition: background-color 0.1s;
  cursor: pointer;

  @media all and (min-width: $breakpoint) { display: none; }
  &:hover, &:focus {
    outline: none;
    background-color: $accordionColour;
    color: $white-color;
  }

  &[aria-selected="true"] {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    background: mix(white,$accordionColour,70%);

    color: $black-color;
  }

  &:before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 0.3em;
    margin-top: -($iconSize/1.75);
    font-weight: normal;
    font-size: $iconSize;
    line-height: $iconSize;
    background-size: $iconSize $iconSize;
  }

  &[aria-selected="true"]:before {
    content: "-";
  }
}
