// Place all the styles related to the admin/attachment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "font-awesome";

$border-color: #003087;
$invalid-color: red;
$background-color: #002855;

.table-attachment {
  width: 80%;
  height: 60px;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  background-color: #F5F5F5;
}

.title-attachment {
  padding: 0.5rem;
  border: 1px solid #999;
}

.title {
  margin-left: 20px;
  color: grey;
}

.block-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-attachment {
  width: 40%;
  border: 1px solid;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 20px;
  border: 4px solid $border-color;
  box-sizing: border-box;
}

.choose-button {
  background-color: #fff;
}

.name-field, .attachment-field {
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: $border-color;
}

.submit-button {
  font-size: 20px;
  width: 200px;
  height: 40px;
  float: right;
  background-color: $background-color;
  border: 1px solid black;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.path-new-attachment {
  text-decoration: none;
  color: grey;
  background-color: $background-color;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.path-attachment {
  margin: 20px;
  margin-top: 20px;
}

.attachment-link {
  text-decoration: none;
  color: black;
  margin-left: 5px;

  &:hover {
    color: blue;
  }
}

.table-attachment-title {
  background-color: $background-color;
  font-family: roboto, arial, helvetica;
  color: white;
 
}

input[type="file"] {
  display: none;
}

.form-control, .attachment-label {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  border: 4px solid $border-color;
  box-sizing: border-box;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  color: gray;
  
}

.invalid-feedback {
  color: $invalid-color;
}

.form-group {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.is-invalid {
  border-color: $invalid-color;
}

.view-attachment {
  border: 4px solid $border-color;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.view-attachment-info {
  width: 600px;
  margin-left: 50px;
}

.view-attachment-media {
  text-align: center;
}

.view-attachment-img {
  height: 50%;
  border-radius: 20px;
}

.view-attachment-functions {
  text-align: center;
}

.view-attachment-links-text {
  color: #fff;
  text-decoration: none;
}

.view-attachment-links {
  border: 4px solid $border-color;
  background-color: $border-color;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 30px;
  margin: 20px;
}
