<div class='body-container'>
  <ul class='tag-links'>
    <% @tags.each do |tag| %>
      <li class='tag-links-item'><%= link_to tag.name, tag_path(tag), class: 'tag-link' %>
    <% end %>
  </ul>
  <%= link_to url_for(:back), class: 'article-button outline' do %>
    <span><i class='material-icons'>arrow_back</i>Back</span>
  <% end %>
</div>
