
<h1>Articles Tagged with "<%= @tag %>"</h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<%= link_to 'Back', url_for(:back) %>