<div class="error-container">  
  <%= render 'errors_svg' %>
  <div class="message-box">
    <h1 class="error-title">422</h1>
    <p class="error-text"><%= t('errors.unprocessable_entity') %></p>
    <div class="error-button">
      <div class="action-link-wrap">
        <%= link_to "Go Back", root_path %>
      </div>
    </div>
  </div>
</div>
