<div class="card">
  <h5>Steven Armstong</h5>
  <img src="https://lh3.googleusercontent.com/ytP9VP86DItizVX2YNA-xTYzV09IS7rh4WexVp7eilIcfHmm74B7odbcwD5DTXmL0PF42i2wnRKSFPBHlmSjCblWHDCD2oD1oaM1CGFcSd48VBKJfsCi4bS170PKxGwji8CPmehwPw=w200-h247-no" alt="Person" class="card__image">
  <p class="card__name">Developer</p>
  <div>Elit assumenda nihil libero nemo adipisci nam atque accusamus harum! Amet qui nulla quod</div>
  <div style="padding-top: 0.5rem">
    <div>test@gmail.com</div>
    <div>+380985432256</div>
  </div>
</div>

