<div class="main-container">
  <div>
    <h1>Звʼяжіться з нaми</h1>
  </div>

  <div class="info-container">
    <h3>Команда готова допомогти вам</h3>
    <div class="card-container">
      <%= render 'card' %>
    </div>
  </div>

  <div>
    <div>
      <h3>Ми працюємо тут</h3>
      <h3>map goes here</h3>
    </div>

    <div>
      <h4>Дніпровська міська рада</h4>
      <h4>pictures goes here</h4>
    </div>
  </div>
</div>
