$blue-color: #190fd1;
$base-color: #190fd1;
$white-color: #fff;
$gray-color: #ddd;
$dark-grey-text: #757575;
$light-grey-text: #f2f2f2;
$scrool-gray-color:#B8B8B8;
$black-color: #000;
$mobile-red-color: #f74753;
$border-color: #003087;
$color-table-background: #F5F5F5;
$admin-background-color-title: #002855;
$admin-background-color-button: #62B5E5;
$admin-invalid-color: #F00;
$admin-label-color: #003087;
$background-color-title: #002855;
