$font_main_company: 'Gotham', 'GothamCyrillic';
$font_medium_size: 16px;
$font_big_size: 20px;

@mixin font-heading-m {
  font-family: $font_main_company;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

@mixin font-heading-s {
  font-family: $font_main_company;
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
}

@mixin font-general-m {
  font-family: $font_main_company;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
