$font_main_company: 'Gotham', 'GothamCyrillic';
$font_small_size: 14px;
$font_medium_size: 16px;
$font_big_size: 20px;
$font-heading-s: 30px;
$font-heading-m: 36px;
$font-heading-l: 40px;

@mixin font-heading-s {
  font-size: 30px;
  font-weight: 200;
  line-height: 34px;
}

@mixin font-heading-m {
  font-size: 36px;
  font-weight: 200;
  line-height: 38px;
}

@mixin font-heading-l {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
