@import 'colors';

.about {
  h4, h5, h6, p {
    text-align: center;
    padding: 30px 0;
  }

  .google-map {
    position: absolute;
    left: 0;
    width: 100%;
    height: 650px;
    border: 0;
  }

  .collage {
    margin-top: 670px;

    .photos {
      display: flex;
      justify-content: space-evenly;

      .basic-photo {
        height: 600px;
      }

      .right-photos {
        max-width: 140px;

        img {
          height: 145px;
        }
      }
    }
  }

  .slider-container {
    margin: 0 auto;

   .overflow {
      overflow: hidden;

      .track {
        display: inline-flex;
        margin: 80px 0 100px 0;
        transition: transform 0.5s;

        .member {
          margin: 0 15px;
          position: relative;

          .member-info {
            padding-top: 20px;
            width: 290px;
            height: 435px;
            background-color: $white-color;

            p {
              text-align: center;
            }

            &:after {
              content: "";
              position: absolute;
              width: 290px;
              height: 60px;
              top: 435px;
              background-color: $black-color;
              border-radius: 0px 0px 20px 20px;
            }

            .profile-photo {
              margin: 0 auto 20px auto;
              content: "";
              width: 195px;
              height: 195px;
              border-radius: 100%;
              background-color: $black-color;
            }

            .position {
              text-align: center;
              width: 125px;
              padding: 5px 0;
              margin: -50px 85px;
              background-color: #797979;
              border-radius: 20px;
              position: absolute;
              font-size: 18px;
              color: $white-color;
            }

            .text {
              margin: 0 auto;
              width: 195px;
              height: 106px;
              font-size: 13px;
              text-align: justify;
              color: #000000;
            }
          }

          .member-cup {
            color: $white-color;
            padding: 15px 0;
            text-align: center;
            position: absolute;
            font-size: 20px;
            width: 290px;
            height: 60px;
            top: -60px;
            background-color: $black-color;
            border-radius: 20px 20px 0px 0px;
          }
        }
      }

    }

    .prev, .next {
      cursor: pointer;
      position: absolute;
      margin-top: -25px;
      padding: 7px 10px;
      background-color: $black-color;
      color: $white-color;
      font-weight: bold;
      font-size: 14px;
      transition: 0.6s ease;
    }

    .prev:hover, .next:hover {
      background-color: gray;
    }

    .prev {
      display: none;
      left: 325px;
    }

    .prev.show {
      display: block;
    }

    .next.hide {
      display: none;
    }

    .next {
      right: 325px;
    }
  }
}
