@import 'colors';

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .show {
    max-width: 300px;
    padding: 20px;
    border: 2px solid $black-color;
    box-shadow: 0px 8px 16px 0px $scrool-gray-color;

    &_button {
      margin-left: 10px;

      a {
        color: #000;
        text-decoration: none;
      }
    }
  }

  .form {
    max-width: 600px;

    .error {
      color: $mobile-red-color;
    }

    .btn {
      margin-left: 10px;
      padding: 0;
      z-index: 0;
  
      .btn-area {
        padding: 10px 25px;
      }
    }
  }
}
