// @import 'materialize';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'materialize-css/dist/css/materialize';
@import 'header';
@import 'footer';
@import 'admins/attachment';
@import 'errors';
@import 'admins/article/*';
@import 'article/*';
@import 'tag/*';

* {
  margin: 0;
  padding: 0;
}

.start-block {
  padding-top: 130px;
}
