
@import 'colors';
@import 'fonts';
@import 'materialize-css/dist/css/materialize';
@import 'mixins/*';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

@import 'header';
@import 'footer';
@import 'errors';

@import 'font-awesome';

@import 'article/*';
@import 'article/article_search';
@import 'companies/*';
@import 'home/*';
@import 'users';
@import 'resident_forms';
@import 'tag/*';
@import 'new_ckeditor/ckeditor';

@import 'admin';
@import 'admins/attachment';
@import 'admins/article/*';
@import 'admins/companies/*';
@import 'admins/question/*';
@import 'about';

@font-face {
  font-family: 'Gotham';
  src: font-url('Gotham.ttf');
  font-family: 'GothamCyrillic';
  src: font-url('GothamCyrillic.otf');
}

* {
  margin: 0;
  padding: 0;
}

.start-block {
  padding-top: 130px;
}

