@import 'materialize';
@import 'header';
@import 'footer';
@import 'errors';
@import "font-awesome";
@import 'admins/article/*';
@import 'article/*';
@import 'tag/*';

* {
  margin: 0;
  padding: 0;
}

.start-block {
  padding-top: 130px;
}
