.header {
  width: 100%;
  position: fixed;
  z-index: 3;
}

.header #logo-main {
  fill: #190fd1;
}

.header-container {
  max-width: 1500px;
  padding: 0 80px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.header-container.active {
  background-color: #f74753;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-container.active #logo-main {
  fill: #fff;
}

.header-container.scroll {
  -webkit-box-shadow: 0 0 60px 0 #B8B8B8;
          box-shadow: 0 0 60px 0 #B8B8B8;
}

#logo-main {
  margin-top: 10px;
  width: 114px;
  height: 41px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu #login {
  padding: 20px 40px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
}

.menu #login:hover {
  background-color: #190fd1;
}

.menu .item {
  padding: 20px 40px;
  font-weight: 700;
}

.menu .item a {
  text-decoration: none;
  color: #000;
}

.menu .item a:hover {
  color: #190fd1;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-top.active {
  padding: 25px 0;
}

.header-top.scroll {
  padding: 10px 0;
}

.dropbtn {
  background-color: #fff;
  font-size: 15px;
  border: none;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.dropbtn:hover {
  color: #190fd1;
}

.dropbtn:focus {
  background-color: transparent;
}

.dropdown-cont {
  background-color: #fff;
  margin-left: 20px;
  display: none;
  position: absolute;
  min-width: 100px;
  list-style: none;
  -webkit-box-shadow: 0px 8px 16px 0px #000;
          box-shadow: 0px 8px 16px 0px #000;
  z-index: 1;
}

.dropdown-cont a {
  color: #000;
  font-weight: 800;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-cont a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-cont {
  display: block;
}

#user-menu {
  display: block;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  margin: auto;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  color: #656565;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

#user-menu:hover {
  color: #898989;
}

#user-menu.click {
  background: #190fd1;
  color: #fff;
  border-left-color: #6c6d70;
}

#user-menu .user-menu_content {
  position: absolute;
  top: 100%;
  left: -10px;
  width: 80px;
  border-radius: 5px;
  padding: 5px 0px;
  display: none;
  border-left: 4px solid #8e9196;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#user-menu .user-menu_content li {
  font-size: 0.8em;
}

#user-menu .user-menu_content li a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 7px 15px;
}

#user-menu .user-menu_content li a:hover {
  color: #5a90e0;
  background: #e7f0f7;
}

#user-menu .user-menu_content.open {
  display: block;
}

.nav-trigger {
  display: none;
  padding-top: 15px;
}

.nav-trigger .bar {
  display: block;
  position: relative;
  width: 45px;
  height: 4px;
  background-color: #000;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
  .header-container {
    max-width: 750px;
    padding: 0 30px;
  }
  .nav-trigger {
    display: block;
  }
  .nav-trigger.active .bar {
    background-color: #fff;
  }
  .nav-trigger.active .bar:nth-child(1) {
    -webkit-transform: translateY(11px) rotate(45deg);
            transform: translateY(11px) rotate(45deg);
  }
  .nav-trigger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav-trigger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-45deg);
            transform: translateY(-11px) rotate(-45deg);
  }
}

@media screen and (max-width: 640px) {
  .header-container {
    padding: 0 15px;
    border-radius: 0;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #f74753;
}

.mobile-menu_list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mobile-menu_list .item {
  list-style: none;
  padding: 25px 30px;
}

.mobile-menu_list .item .mobile-log {
  border-radius: 50px;
  background-color: #000;
  padding: 20px 80px;
  color: #fff;
}

.mobile-menu_list .item a, .mobile-menu_list .item input {
  font-size: 18px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}

.mobile-menu.active {
  display: block;
  z-index: 3;
}
/*# sourceMappingURL=header.css.map */