@import 'colors';

.admin-user-title {
  width: 100%;
  margin: 0;
  font-family: 'Gotham', 'GothamCyrillic';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  color: $background-color-title;
}

.admin-user-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  .admin-user-button {
    margin: 20px 0px;
    padding: 0;
    height: 60px;
    width: 295px;
    min-width: 295px;
    background: $admin-background-color-button;
    border-radius: 30px;
    font-family: 'Gotham', 'GothamCyrillic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: .5px;
    color: $white-color;
    transition: background-color .2s ease-out;
    cursor: pointer;

    &:hover {
      background-color: $background-color-title;
    }

    &:focus {
      background-color: $admin-background-color-button;
    }

    &.text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 2px;
    }

    &_icon-text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 12px;
      padding-right: 10px;
    }
  }
}


