<div class='container'>
  <h1 class='articles-title'>Edit Article</h1>
  <div class='block-form'><%= render 'form', article: @form.article, url: admins_article_path, method: 'patch' %></div>
  <div><%= link_to 'Back', admins_articles_path, class:'btn articles-button' %></div>
</div>
