<div class='container'>
  <h1 class='admin-article-title'>New Article</h1>
  <div class='block-form'><%= render 'form', article: @form, url: admins_articles_path, method: 'post'%></div>
  <div><%= link_to fa_icon('arrow-left', text: 'Back'), admins_articles_path, class:'btn admin-article-button' %></div>
</div>
